mat-sidenav {
    width: 40%;
  }

 .time-stamp {
     text-align: center;
 } 


.toolbar {
    height: fit-content;

}

.example-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  
  .example-container > * {
    width: 100%;
  }

  .note-item {
    width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .active {
      background-color: rgb(241, 243, 212);
  }


  