<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button style="margin-right: 10%;">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>

    <div style="margin-right: 5%;">
    <button (click)="deleteItem()" mat-icon-button style="margin-right: 5%;">
      <mat-icon >delete</mat-icon>
    </button>
     
    <button [disabled]="new_item_form.invalid" (click)="createItem(new_item_form.value)" mat-icon-button >
        <mat-icon>add</mat-icon>
      </button>
  </div>


  <mat-form-field >
      <input matInput type="text" name="search" placeholder="Search" autocomplete="off" [(ngModel)]="searchText">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened] = "mobileQuery.matches ? false : true">
    <mat-nav-list class="note-item" > 
<div *ngFor=" let note of notes  | filter:searchText; let i = index"> 
      <a mat-list-item [routerLink]="['/', note.id]" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}" (click)="loadDate(note.id, i)"> {{note.title}} </a>
      <mat-divider></mat-divider>
</div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <div class="time-stamp">
      <mat-hint>  
        {{timeStamp | date: 'MMMM d, y'}} at {{timeStamp | date:'h:mm a'}}
      </mat-hint>
     
    </div>
    <form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)"> 
      <div class="example-container">
      <mat-form-field>
        <textarea rows="10" matInput  formControlName="title" placeholder="Textarea"></textarea>
      </mat-form-field>
    </div>
   
    </form>
    </div>
 
  </mat-sidenav-content>
</mat-sidenav-container>